.scroll-content {
  background-color: #FCFDFE;
}

.item-ios {
  background-color: #FCFDFE;
}

.item-md {
  background-color: #FCFDFE;
}

.button-ios {
  border-radius: 15px;
  height: 45px;
}

.button-md {
  border-radius: 15px;
  height: 45px;
}

logar {
  .item-input ion-input, .item-input ion-textarea {
    border-radius: 30px;
  }
}
